        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div style="text-align: center; margin-top: 30px;">
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="https://nodejs.org/en/" target="_blank"><img src="/NodeJSLogo.png" style="width: 82%"></a>
                        </div>
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="http://expressjs.com/" target="_blank"><img src="/ExpressLogo.png" style="width: 100%"></a>
                        </div>
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="https://c3js.org/" target="_blank"><img src="/C3Logo.png" style="width: 45%"></a>
                        </div>
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="https://aws.amazon.com/cloud9/" target="_blank"><img src="/Cloud9Logo.png" style="width: 52%"></a>
                        </div>
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="http://getbootstrap.com/" target="_blank"><img src="/BootstrapLogo.png" style="width: 52%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div style="text-align: center; margin-bottom: 30px;">
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="https://www.heroku.com/" target="_blank"><img src="/HerokuLogo.png" style="width: 40%"></a>
                        </div>
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="https://www.mongodb.com/" target="_blank"><img src="/MongoDBLogo.jpg" style="width: 100%"></a>
                        </div>
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="https://mlab.com/" target="_blank"><img src="/MLabLogo.png" style="width: 100%"></a>
                        </div>
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="https://cloud.google.com/maps-platform/" target="_blank"><img src="/GoogleMapsLogo.png" style="width: 52%"></a>
                        </div>
                        <div style="display: inline-block; width: 16%; text-align: center;">
                            <a href="https://fontawesome.com/" target="_blank"><img src="/FontAwesomeLogo.png" style="width: 52%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <ul>
                            <p class="footer-head">About</p>
                            <hr class="footerline">
                            <li><a href="#" class="footer-nav">About Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <ul>
                            <p class="footer-head">Support</p>
                            <hr class="footerline">
                            <li><a href="#" class="footer-nav">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <ul>
                            <p class="footer-head">Account</p>
                            <hr class="footerline">
                            <li><a href="#" class="footer-nav">My Account</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <ul>
                            <p class="footer-head">Other Projects</p>
                            <hr class="footerline">
                            <li><a href="#" class="footer-nav">Projects</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <img class="alcorusLogoFooter" src="/trafficJazzLogoLarge.png">
                    </div>
                </div>
            </div>
        </div>
       
        <div class="copywright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="https://www.linkedin.com/in/istvan-rimaszombati-b6251047" target="_blank" style="font-decoration: none; color: white;">&copy; Steven Rimaszombati, 2018 USA.</a>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
